* {
  box-sizing: border-box;
  margin: 0;
}
.html {
  min-height: 100%;
  min-width: 50%;
}

/* Bovenste menu */
.all-upper-elements {
  max-width: 1500px;
}
.all-upper-elements .logo {
  display: flex;
  float: left;
  height: 80px;
  width: 80px;
}
.all-upper-elements .all-up-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float: right;
  padding-top: 20px;
}

.all-upper-elements ul.up-menu li {
  color: black;
  list-style: none;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
}

/* main nav */
.mainmenu {
  background-color: #ff0000;
  height: 100px;
  width: 100%;
  display: inline-block;
}

/* Mi ma mapje*/
iframe {
  float: right;
}
.i4ewOd-pzNkMb-haAclf {
  display: none;
}
.lijst {
  float: left;
}

/* sidebar */
.sidebar {
  width: 200px;
  height: 100%;
  background-color: #ffe4c4;
  border-radius: 5px;
  position: absolute;
  top: 8;
  left: 0;
}
.sidebar-item {
  padding: 15px;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
}
.sidebar-collapse-btn {
  padding-top: 5em;
  text-align: center;
  font-size: 1.2em;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar-expand-btn {
  padding-top: 5em;
  text-align: center;
  font-size: 1.2em;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
